body {
    font-family: 'Noto Serif', serif;
}

header {
    background: #BBBBBB;
    padding: 20px 75px; /* Espacio superior e inferior y 0 en laterales */
}

.caja {
    with: 940px;        /* Ancho de la caja */
    position: relative; /* Para que se pueda posicionar */
    margin: 0 auto;     /* Para centrar la caja */
}

nav {
    position: absolute; /* Hasta la esquina */
    top: 110px;         /* Posicionamos el nav en la parte superior */
    right: 0px;         /* Ningún espacio en la parte derecha */
}

nav li {                /* Navegador de la lista */
    display: inline;    /* Para que los elementos se muestren en linea, por que ocupan solo su espacio */
    margin: 0 0 0 15px; /* ⬆ ⬅ ⬇ ➡ esto hace un espacio */
}

nav a {
    text-transform: uppercase; /* Mayúsculas */
    color: #000000;            /* Color */
    font-weight: bold;         /* Negrita */
    font-size: 22px;           /* Tamaño */
    text-decoration: none;     /* Sin decoración */
}

nav a:hover { /* Eventos con mouse */
    color: #C78C19;
    text-decoration: underline;
}

.productos {
    width: 940px;   /* Para que no se salga de la pantalla */
    margin: 0 auto; /* Margen de ⬆ ⬇ 0 y laterales automáticamente*/
    padding: 50px;  /* Espacio entre el banner y los elementos */
}

.productos li {                         /* Productos de la lista */
    display: inline-block;              /* Para que cada item se muestre en un bloque cada uno */
    text-align: center;                 /* Textos en el centro */
    width: 30%;                         /* Cada elemento ocupa un 30% de la pantalla */
    vertical-align: top;                /* Alineamos los elementos verticalmente por arriba */
    margin: 0 1.5%;                     /* Crea margen externo entre los elementos */
    padding: 30px 20px;                 /* Crea margen interno, ⬆ ➡ */
    box-sizing: border-box;             /* Para que libere el espacio entre los elementos */
    border: 2px solid #000000;          /* Ancho, estilo, color */
    border-radius: 10px 10px 10px 10px; /* ↖ ↗ ↘ ↙ */
}

.productos li:hover {
    border-color: #C78C19;
    font-size: 33px;
}

.productos li:active { /* Click con mouse */
    border-color: #088C19;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2 { /* Cuando se posicione en un elemento se le aplicara al h2 */
    font-size: 33px;
}

.producto-description {
    font-size: 18px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px; /* Espacio entre el precio y la descripción */
}

footer {
    text-align: center;
    background: url(Imágenes/bg.jpg);
    padding: 40px; /* Espacio entre inicio de footer hasta inicio de imagen */
}

.copyright {
    color: #FFFFFF;
    font-size: 15px;
    margin: 20px; /* Espacio entre el copyright y el final de la página */
}

main {

}

form {
    margin: 40px auto; /* Margen de 40 ⬆⬇ y 0 los costados*/
}

form label, form legend {
    display: block;     /* Al colocarlos en bloque se acomodan verticalmente */
    font-size: 20px;
    margin: 0 0 20px 0; /* Arriba, derecha, abajo, izquierda, entre cada label y su caja habrá un espacio */
}

.input-patron { /* Cambiándolo asi cada cosa solo ocupa su espacio y asi el botón queda bien*/
    display: block;
    margin: 0 0 20px 0;
    padding: 10px 25px; /* La caja ocupara 10px ⬆⬇ y 25px lados */
    width: 50%;         /* El ancho de las cajas serán el 50% del ancho de la página (width definido en main)*/
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%; /* Ocupara el 40% del area disponible que tenemos */
    padding: 15px 0px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none; /* Elimina borde */
    border-radius: 5px;
    transition: 1s all; /* background (Transición) para que lo aplique a all colocamos all */
    cursor: pointer;    /* Cursor de mano*/
}

.enviar:hover {
    background: blue;
    transform: scale(1.10) rotate(70deg); /* Aumenta el tamaño y Rota 70 grados las colocamos en la misma linea por si no solo ejecuta la ultima*/
}

table {
    margin: 40px 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* CSS para nuestra home */

.banner {
    width: 100%; /* El banner ocupa completamente en la pantalla lo que ocupa */
}

.principal {
    padding: 3em;
    background: #FEFEFE;
    width: 940px;   /* Ancho de la página */
    margin: 0 auto; /* Margen de ⬆ ⬇ 0 y laterales automáticamente*/
}

.titulo-principal {
    text-align: center;
    font-size: 2em; /* 2 veces el tamaño que tiene el navegador (Google por defecto tiene 15px) */
    margin: 0 0 1em;
    clear: left; /* Cualquier configuración después de titulo se borra */
    /* color: rgba(218, 0, 0, 0.8); /* Color de la letra + opacidad */
    /* text-shadow: 2px 2px gray; /* ⬆⬇ lados color, Sombra de texto */
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px; /* Ancho de la imagen */
    float: left; /* Sobra a la izquierda */
    margin: 0px 20px 20px 0px;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);

    /* background: linear-gradient(90deg, yellow 50%, blue, red); Gradiente de color. 45deg son los grados, 50% porcentaje de color */
    /* background: radial-gradient(circle, yellow 50%, blue, red); Lo mismo pero en circulo */
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido {
    width: 940px;
    margin: 0 auto;
}

.diferenciales {
    padding: 3em 0;
    background: #a29f9f;
    /* box-shadow: inset 0 0 30px red; Crea sobra interna  */
}

.contenido-diferenciales {
    width: 640px; /* 100% */
    margin: 0 auto;
}

.lista-diferenciales {
    width: 40%; /* 40% ocupa de contenido-diferenciales 640px */
    display: inline-block;
    vertical-align: top;
}

.items {
    line-height: 1.5em; /* Alineamos los elementos verticalmente */
}

.items:before {
    content: "✯";
}

.items:first-child { /* Al 1er elemento de la lista pintalo de negro*/
    font-weight: bold;
}

.imagenDiferenciales {
    width: 60%; /* 60% ocupa de contenido-diferenciales 640px */
    box-shadow: 10px 10px 25px 30px red; /* Crea sobra ⬆⬇ lados expansion (que ta grande sera) difuminación (de solido a trasparente ) color*/
}

.imagenDiferenciales:hover {
    opacity: 60%; /* Cuanta luz pasa */
    transition: 400ms;
}

.video {
    width: 560px;
    margin: 1em auto;
}

@media screen and (max-width: 480px) { /* En pantallas hasta 480px aplica */
    .h1 {
        text-align: center;
    }

    .nav {
        position: static;
    }

    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video {
        width: auto;
    }

    .lista-diferenciales, .imagenDiferenciales {
        width: 100%;
    }

}